<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    {% include 'layouts/layout.html' %}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_dashboard.css') }}">
    <style>
        .selected {
            background-color: #FF6F3C;
            color: white;
        }

        /* Estilo adicional para visibilidade dos submenus */
        .submenu {
            display: none; /* Submenus estão ocultos por padrão */
        }

        .submenu.active {
            display: block; /* Exibe o submenu quando a classe 'active' está presente */
        }
        
        .sub_menu-item {
            cursor: pointer;
        }
    </style>
</head>
<body>
    {% include 'layouts/sidebar.html' %}

    {% if not verificado %}
        {% include 'modal_welcome.html' %}
    {% endif %}
    <div id="dashboard_buttons">
        <form action="/" method="post">
            <button type="submit" name="crypto" value="bitcoin" class="{{ 'selected' if request.form.get('crypto') == 'bitcoin' or title == 'Bitcoin' else '' }}">Bitcoin</button>
            <button type="submit" name="crypto" value="ethereum" class="{{ 'selected' if request.form.get('crypto') == 'ethereum' else '' }}">Ethereum</button>
        </form>
    </div>
    <div id="dashboard">
        <div id="graph-container">
            <div id="divimagem">
                <h2 id="title">Variação do {{ title.capitalize() }} nos últimos 6 meses</h2>
                {% if plot_url %}
                <img src="{{ plot_url }}" alt="Gráfico" id="imagem">
                {% endif %}
            </div>
        </div>
        <div id="info-container">
            <div class="info-top">
                <div id="dados2">
                    <h3 class="title_dashboard" id="title_history" >{{ title}} comprado nos ultimos meses</h3>
                    {% if history_plot_url %}
                    <img src="{{ history_plot_url }}" alt="Gráfico" id="history_plot_img">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div id="middle_dashboard">
        <div id="right_info-container">
            <div id="middle_top-container">
                <div id="dados3">
                    <h3 class="title_dashboard">Data da ultima compra</h3>
                    <h4 class="content_box">{{ last_buy_date or 'You haven\'t bought anything yet' }}</h4>
                </div>
                <div id="dados4">
                    <h3 class="title_dashboard">{{ title }} transactions in the last 24h</h3>
                    <h4 class="content_box">{{ volume }}</h4>
                </div>
            </div>
            <div id="middle_bottom-container">
                <div id="dados5">
                    <h3 class="title_dashboard">Last trade</h3>
                    {% set crypto1 = 'Bitcoin' if last_trade_data[0][0] == 1 else 'Ethereum' %}
                    {% set crypto2 = 'Bitcoin' if last_trade_data[0][1] == 1 else 'Ethereum' %}
                    {% set amount1 = last_trade_data[0][2] %}
                    {% set amount2 = last_trade_data[0][3] %}
                    {% set formatted_date = last_trade_data[0][4].strftime('%Y/%m/%d') %}
                    
                    <h4 class="content_box_trade">{{ crypto1 }}: {{ amount1 }} → {{ crypto2 }}: {{ amount2 }}</h4>
                    <h4 class="content_box_trade">{{ formatted_date }}</h4>
                    
                </div>
            </div>
        </div>
        <div id="left_info-container">
            <div id="dados6">
                <div id="spent_plot_buttons">
                    <form action="/" method="post">
                        <button type="submit" name="total_spent" value="1" class="{{ 'selected' if request.form.get('total_spent') == '1' or total_spent == '1' else '' }}">This month</button>
                        <button type="submit" name="total_spent" value="6" class="{{ 'selected' if request.form.get('total_spent') == '6' else '' }}">Last 6 months</button>
                        <button type="submit" name="total_spent" value="all" class="{{ 'selected' if request.form.get('total_spent') == 'all' else '' }}">All time</button>
                    </form>
                </div>
                <h3 class="title_dashboard" style="text-align: center; margin-top: 20px;">Total gasto em cripto</h3>

                <div img="spent_plot">
                    {% if spent_plot_url %}
                    <img src="{{ spent_plot_url }}" alt="Gráfico de Total Gasto" id="spent_plot_img">
                    {% endif %}
                </div>
                <span>🟧 ${{ spent_plot_data[0]|round(2) }}</span><br>
                <span>🟦 ${{ spent_plot_data[1]|round(2) }}</span>
            </div>
        </div>
    </div>        
        
    {% include 'layouts/footer.html' %}
</body>
</html>
