<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_deposit.css') }}">
    <script src="{{ url_for('static', filename='js/deposit.js') }}" defer></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deposit</title>
    {% include 'layouts/layout.html' %}
</head>
<body>
    {% include 'layouts/sidebar.html' %}
    {% if qr_code %}
        {% include 'modal_confirmation.html' %}
    {% endif %}
    <div class="deposit">
        <div class="title"><h2 id="title">Deposit</h2></div>
        
        <form name="form_deposit" action="/deposit" id="form_deposit" method="post">
            <input type="text" autocomplete="off" autofocus name="deposited_value" id="deposited_value" placeholder="Amount to be deposited">
            <select name="currency"> 
                <option disabled selected value="">Currency</option>
                {% for currency in currencies %}
                    <option>{{ currency }}</option>
                {% endfor %}
            </select> 
            <input type="submit" name="send_form_deposit" id="send_form_deposit" value="Send">
        </form>
        {% if msg %}
            <p id="msg">{{ msg }}</p>
        {% endif %}
    </div>

   
</body>
</html>