<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <title>FAQ</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_faq.css') }}">
</head>
<body>
    <header>
        <h2>FAQ</h2>
        <h3>Here are some of the frequently asked questions</h3>
    </header>
    

    <div class="faq">
        <div class="left-side">
            <div class="slide">
                <div class="icon-container">
                    <div class="circle"></div>
                    <img src="{{ url_for('static', filename='images/faq/question_icon.png') }}" id="icons">
                </div>
                <div class="content">
                    <h3 class="title">O que é a AF Crypto?</h3>
                    <p class="content">O AF Crypto é uma plataforma de troca de criptomoedas que permite aos usuários comprar, vender e gerenciar várias criptomoedas de maneira segura e intuitiva.</p>
                </div>
            </div>
            <div class="slide">
                <div class="icon-container">
                    <div class="circle"></div>
                    <img src="{{ url_for('static', filename='images/faq/question_icon.png') }}" id="icons">
                </div>
                <div class="content">
                    <h3 class="title">Quais criptomoedas são suportadas?</h3>
                    <p class="content">Atualmente, suportamos Bitcoin (BTC), Ethereum (ETH). Estamos constantemente adicionando suporte para novas moedas.</p>
                </div>  
            </div>
            <div class="slide">
                <div class="icon-container">
                    <div class="circle"></div>
                    <img src="{{ url_for('static', filename='images/faq/question_icon.png') }}" id="icons">
                </div>
                <div class="content">
                    <h3 class="title">Como comprar criptomoedas?</h3>
                    <p class="content">Após fazer login e criar a sua senha de 4 dígitos vá para a seção "Comprar" e selecione a criptomoeda que deseja adquirir. Insira o valor e confirme a transação.</p>
                </div>
            </div>
            <div class="slide">
                <div class="icon-container">
                    <div class="circle"></div>
                    <img src="{{ url_for('static', filename='images/faq/question_icon.png') }}" id="icons">
                </div>
                <div class="content">
                    <h3 class="title">Esqueci minha senha</h3>
                    <p class="content">Clique no link "Esqueceu sua senha?" na página de login ou vá até a aba "Conta", "Alterar senha" e siga as instruções para redefinir sua senha.</p>
                </div>
            </div>
            <div class="slide">
                <div class="icon-container">
                    <div class="circle"></div>
                    <img src="{{ url_for('static', filename='images/faq/question_icon.png') }}" id="icons">
                </div>
                <div class="content">
                    <h3 class="title">Como entro em contato com o suporte da AF Crypto?</h3>
                    <p class="content">Você pode entrar em contato com nosso suporte ao cliente através do formulário de contato em nosso site ou enviando um e-mail para suporte@afcryptotrade.com.</p>
                </div>
            </div>
        </div>
        <div class="right-side">
            <div class="slide">
                <div class="icon-container">
                    <div class="circle"></div>
                    <img src="{{ url_for('static', filename='images/faq/question_icon.png') }}" id="icons">
                </div>
                <div class="content">
                    <h3 class="title">Como é feito o depósito no AF Crypto?</h3>
                    <p class="content">O depósito é feito pela leitura de um qr code gerado pelo site após selecionar o valor a ser depositado, sem a necessidade de nenhum dado do usuário.</p>
                </div>
            </div>
            <div class="slide">
                <div class="icon-container">
                    <div class="circle"></div>
                    <img src="{{ url_for('static', filename='images/faq/question_icon.png') }}" id="icons">
                </div>
                <div class="content">
                    <h3 class="title">Preciso pagar pra usar?</h3>
                    <p class="content">Não, o nosso sistema é completamente gratuíto e disponivel pra qualquer usuario que queira usa-lo</p>
                </div>
            </div>
            <div class="slide">
                <div class="icon-container">
                    <div class="circle"></div>
                    <img src="{{ url_for('static', filename='images/faq/question_icon.png') }}" id="icons">
                </div>
                <div class="content">
                    <h3 class="title">Tem suporte pra dispositivo movel?</h3>
                    <p class="content">Sim, a AF Crypto oferece suporte para dispositivos móveis para você aproveitar nossos serviços de qualquer lugar e com a mesma qualidade que a da tela de um computador</p>
                </div>
            </div>
            <div class="slide">
                <div class="icon-container">
                    <div class="circle"></div>
                    <img src="{{ url_for('static', filename='images/faq/question_icon.png') }}" id="icons">
                </div>
                <div class="content">
                    <h3 class="title">Quais são os horarios de atendimento?</h3>
                    <p class="content">Nosso suporte ao cliente está disponível 24 horas por dia, 7 dias por semana.</p>
                </div>
            </div>
            <div class="slide">
                <div class="icon-container">
                    <div class="circle"></div>
                    <img src="{{ url_for('static', filename='images/faq/question_icon.png') }}" id="icons">
                </div>
                <div class="content">
                    <h3 class="title">Como a AF Crypto lida com a privacidade dos dados?</h3>
                    <p class="content">Respeitamos sua privacidade e estamos comprometidos em proteger suas informações. Consulte nossa Política de Privacidade para mais detalhes sobre como coletamos, usamos e protegemos seus dados.</p>
                </div>
            </div>
        </div>
    </div>

    {% include 'layouts/footer.html' %}
</body>
</html>
