html body{
    background-color: #343A40;
}

body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 9vh;
   
}

.icones{
    margin-top: 4vh;
    max-width: 150px;
    max-height: 150px;
}

.alter-email-block{
    background-color: #1B263B;
    
}
.alter-email-block button{
    background-color: #FF6F3C;
    color: #1B263B
}

.alter-password-block, .alter-phone-block{
    background-color: #FF6F3C;
}
.alter-email-block, .alter-password-block, .alter-phone-block{
    display: flex;
    flex-direction: column;
    width: 50vh;
    height: 80vh;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}
.alter-email-block:hover, .alter-password-block:hover, .alter-phone-block:hover{
    transform: scale(1.02);
}

button{
    margin-top: 20vh;
    padding: 20px;
    color: #f8f9fa;
    background-color: #1B263B;
    font-size: 18px;
    width: 25vh;
    border: 0;
    border-radius: 20px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

button:hover{
    transform: scale(1.08);
}

h2{
    font-family: 'Montserrat', 'sans-serif';
    color: #f8f9fa;
    margin-top: 3vh;
}