.pin-container {
    display: flex;
    justify-content: center;
    gap: 1vh;
    align-items: center;
    margin: 0 auto;
}

.pin-input {
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 28px;
    border: 2px solid #ccc;
    border-radius: 5px;
    transition: transform 0.3s ease; 
}

.pin-input:focus {
    border-color: #FF6F3C; 
    outline: none;
    transform: scale(1.05);
}