

/* Estilo do dashboard e imagem */
#dashboard {
    display: flex;
    gap: 20px; /* Espaçamento entre o gráfico e os quadrados */
    background-color: #343A40;
    padding: 1vh;
    padding-top: 3.1vh;
}

#graph-container {
    flex: 2; /* O gráfico ocupa duas partes do layout flexível */
    background-color: #495057;
    border-radius: 8px;
    padding: 0px;
    height: 60vh;
    margin-left: 10.7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Adiciona um sombreamento */
}

#graph-container h2{
    margin-top: 10px;
}

#divimagem {
    margin-top: 10vh;
    margin-bottom: 4vh;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0px;
}

#title {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #FF6F3C;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.content_box{
    font-size: 35px;
    text-align: center;
    margin-top: 20%;
}
.content_box_trade{
    font-size: 20px;
    text-align: center;
    margin-top: 4%;
}
#title_history{
    margin-top: 1vh;

}
.title_dashboard{
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: bold;
    color: #FF6F3C;
    

}

#divimagem img {
    margin-left: 5vh;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#info-container {
    flex: 1; /* Os quadrados ocupam uma parte do layout flexível */
    display: flex;
    flex-direction: column;
    gap: 0px;
}

#dados2{
    background-color: #495057;
    border-radius: 8px;
    height: 60vh;
    width: 62.8vh;
    padding: 20px;
    color: #F8F9FA;
    flex: 1; /* Ajusta a altura dos quadrados para serem iguais */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Adiciona um sombreamento */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centraliza verticalmente, se a altura for definida */
}

/* Middle Dashboard */
#middle_dashboard{
    flex: 1;
    display: flex;
    background-color: #343A40;
    padding-top: 2vh;
    flex-direction: row;
    
}
/* Estilo dos quadrados da parte inferior */

#right_info-container {
    flex: 1; /* Os quadrados ocupam uma parte do layout flexível */
    display: flex;
    margin-left: 11.7vh;
    flex-direction:column;
    gap: 8px;

}


#left_info-container {
    flex: 1; /* Os quadrados ocupam uma parte do layout flexível */
    display: flex;
    margin-left: 3vh;
    flex-direction:column;
    gap: 8px;

}
#middle_top-container{
    flex: 1; /* Os quadrados ocupam uma parte do layout flexível */
    display: flex;
    flex-direction:row;
    gap: 20px;
}

#middle_bottom-container{
    flex: 1; /* Os quadrados ocupam uma parte do layout flexível */
    display: flex;
    flex-direction:column;
}
#dados3, #dados4 {
    background-color: #495057;
    border-radius: 8px;
    margin-bottom: 1.8vh;
    height: 42.8vh; /* Altura específica para #dados3 */
    width: 63.45vh; /* Largura específica para #dados3 */
    padding: 20px;
    color: #F8F9FA;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Adiciona um sombreamento */
}

#dados5 {
    background-color: #495057;
    border-radius: 8px;
    margin-bottom: 3.1vh;
    height: 44.7vh; /* Altura específica para #dados3 */
    width: 130vh; /* Largura específica para #dados5 */
    padding: 20px;
    color: #F8F9FA;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Adiciona um sombreamento */
}

#dados6 {
    background-color: #495057;
    border-radius: 8px;
    height: 85; /* Altura específica para #dados3 */
    width: 62.6vh; /* Largura específica para #dados5 */
    padding: 20px;
    color: #F8F9FA;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Adiciona um sombreamento */
}
/* Bottom dashboard */
#history_plot_img {
    max-width: 100%; /* Garante que a imagem não exceda a largura do contêiner */
    max-height: 100%; /* Garante que a imagem não exceda a altura do contêiner */
    object-fit: contain; /* Mantém a proporção da imagem */
    margin-top: 1vh;
}

#spent_plot_img {
    max-width: 100%; /* Garante que a imagem não exceda a largura do contêiner */
    max-height: 100%; /* Garante que a imagem não exceda a altura do contêiner */
    object-fit: contain; /* Mantém a proporção da imagem */
    margin-top: 1vh;
}

/* Estilo dos botões do dashboard */
#dashboard_buttons {
    margin-left: 55px;
}
#spent_plot_buttons{
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
}
/* Estilo dos botões do dashboard */
#dashboard_buttons button, #spent_plot_buttons button {
    position: relative;
    display: inline-block;
    padding: 8px 13px;
    background-color: #343A40;
    color: #F8F9FA;
    border: none;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    overflow: hidden;
    border-radius: 0;
    border-bottom: 2px solid #FF6F3C; /* Borda inferior com cor e espessura */
}

#dashboard_buttons button:focus, #spent_plot_buttons button:focus {
    outline: none;
}

#dashboard_buttons button:hover, #spent_plot_buttons button:hover {
    transition: 0.5s;
    background-color: #FF6F3C;
    color: #FFFFFF;
}

#dashboard_buttons button.selected, #spent_plot_buttons button.selected {
    background-color: #FF6F3C;
    color: white;
    border-bottom: 2px solid #FF6F3C; /* Mantém a borda inferior quando o botão está selecionado */
}

/* Media Queries para Responsividade */

/* Ajustes para dispositivos móveis */
@media (max-height:420px),(max-width:920px){
    #divimagem img{
        margin-left: 2vh;
    }
}
@media (max-width: 768px) {
    #dashboard {
        flex-direction: column;
        gap: 10px;
    }
    #dashboard_buttons {
        margin-left: 50px;
        margin-top: 5px;
    }
    #graph-container {
        margin-left: 0;
        height: 40vh;
    }

    #info-container, #middle_dashboard {
        flex-direction: column;
    }

    #middle_top-container, #middle_bottom-container {
        flex-direction: column;
        gap: 10px;
    }

    #right_info-container, #left_info-container {
        margin-left: 0;
    }

    #dados2, #dados3, #dados4, #dados5, #dados6 {
        width: 100%;
        height: auto;
    }

    #title {
        font-size: 14px;
    }

    .content_box {
        font-size: 24px;
        margin-top: 2%;

    }

    .content_box_trade {
        font-size: 16px;
        margin-top: 2%;

    }
    #history_plot_img {
        max-width: 70%; /* Garante que a imagem não exceda a largura do contêiner */
        max-height: 70%; /* Garante que a imagem não exceda a altura do contêiner */
        object-fit: contain; /* Mantém a proporção da imagem */
        margin-top: 1vh;
    }

    #spent_plot_img {
        max-width: 70%; /* Garante que a imagem não exceda a largura do contêiner */
        max-height: 70%; /* Garante que a imagem não exceda a altura do contêiner */
        object-fit: contain; /* Mantém a proporção da imagem */
        margin-top: 1vh;
        margin-left: 15%;
    }
}

/* Ajustes para tablets */
@media (min-width: 769px) and (max-width: 1024px) {
    #dashboard, #middle_dashboard {
        flex-direction: column;
        gap: 15px;
        margin-left: 55px;
    }
    #dashboard_buttons {
        margin-left: 55px;
    }
    #graph-container {
        margin-left: 0;
        height: 50vh;
    }

    #info-container, #middle_dashboard {
        flex-direction: column;
    }

    #middle_top-container, #middle_bottom-container {
        flex-direction: column;
        gap: 15px;
    }

    #right_info-container, #left_info-container {
        margin-left: 0;
    }

    #dados2, #dados3, #dados4, #dados5, #dados6 {
        width: 100%;
        height: auto;
    }

    #title {
        font-size: 16px;
    }

    .content_box {
        font-size: 28px;
    }

    .content_box_trade {
        font-size: 18px;
    }
}