h2{
    font-family: 'Montserrat', 'sans-serif';
    font-size: 36px;
    text-align: center;
    color: #FF6F3C;
    padding-top: 2vh;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 0px;
    margin: 20px 0; 
    margin-left: 55px;
}

table, th, td {
    border: 1px solid #111312; 
    font-family: 'Montserrat', 'sans-serif';
}

th, td {
    padding: 12px; 
    text-align: left;
}

th {
    background-color: #343A40; 
    color: #FF6F3C;
    
}


tr:nth-child(odd) {
    background-color: #F8F9FA; 
}

tr:nth-child(even) {
    background-color: #495057; 
    color: white; 
}

tr:hover {
    background-color: #FF6F3C; 
}
