<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/buy.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/responsiveness/re_buy.css') }}">

    <title>Buy crypto currencies</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/sweet_alert/login_sweet_alert.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{{ url_for('static', filename='js/sweet_alert/alert_login.js') }}" defer></script>

</head>
<body class="{{ session['theme'] }}" class="modal no-background">
    {% include 'layouts/balance_popup.html' %}

    <script>
        {% if authorize %}
            document.addEventListener("DOMContentLoaded", function() {
            Swal.fire({
                title: 'Success',
                text: '{{ authorize}}',
                icon: 'success',
                confirmButtonText: 'Continue'
            });
        })
        {% endif %}

        {% if not_authorize %}
            document.addEventListener("DOMContentLoaded", function() {
            Swal.fire({
                title: 'Error',
                text: '{{ not_authorize }}',
                icon: 'error',
                confirmButtonText: 'Continue',
                didClose: () => {
                    window.location.href = '/dashboard/index'; 
                }
            }).then((result) => {
                    if (result.isDismissed) { // Verifica se o modal foi fechado clicando fora
                            window.location.href = "/dashboard/index";
                    }
                });
        });
        {% endif %}

    </script>
    {% include 'layouts/sidebar.html' %}

    
    {% if modal %}
        {% include 'modal_buy.html' %}
    {% endif %}
    <main class="main">
        <table>
            <thead>
                <tr>
                    <th onclick="sortTable(0)">Name<button class="sort-btn"></button></th>    
                    <th onclick="sortTable(1)">Symbol<button class="sort-btn"></button></th>
                    <th onclick="sortTable(2)">Price(USD)<button class="sort-btn"></button></th>
                    <th onclick="sortTable(3)">Var(%)<button class="sort-btn"></button></th>
                    <th onclick="sortTable(4)">Volume(24h) <button class="sort-btn"></button></th>
                    <th onclick="sortTable(5)">Status<button class="sort-btn"></button></th>
                </tr>
            </thead>
            
            <tbody>
                {% for crypto_id, row in session['shop'].items() %}
                <tr 
                {% if row.status %}
                    onclick="window.location.href='/buy/{{ row.name|lower }}';"
                    class="clickable"
                {% endif %}>
                    <td><b>{{ row.name }}</b></td>
                    <td><b>{{ row.symbol }}</b></td>
                    <td><b>{{ "%.2f" | format(row.current_price) }}</b></td>
                    <td class="var-percentage {% if row.price_change_percentage_24h > 0 %}positive{% else %}negative{% endif %}">
                        <b>{{ "%.2f" | format(row.price_change_percentage_24h) }}%</b>
                    </td>
                    <td><b>{{ row.volume_24h }}</b></td>
                    <td class="status {% if row.status %}available{% else %}unavailable{% endif %}">
                        <b>{% if row.status %}Available{% else %}Unavailable{% endif %}</b>
                    </td>
                </tr>
                {% endfor %}
            </tbody>            
        </table>
           

    </main>
</body>
<script>
function sortTable(columnIndex) {
    const table = document.querySelector("table tbody");
    const rows = Array.from(table.rows);

    // Determina a direção de ordenação inicial
    let sortOrder = "desc";
    if ([0, 1, 5].includes(columnIndex)) { // Colunas específicas têm ordem inicial ascendente
        sortOrder = "asc";
    }

    const currentBtn = document.querySelectorAll(".sort-btn")[columnIndex];
    if (currentBtn) {
        if (currentBtn.classList.contains("asc")) {
            sortOrder = "desc";
        } else if (currentBtn.classList.contains("desc")) {
            sortOrder = "asc";
        }
    }

    rows.sort((a, b) => {
        let cellA = a.cells[columnIndex].textContent.trim();
        let cellB = b.cells[columnIndex].textContent.trim();

        // Apenas para Volume (24h) na coluna 4
        if (columnIndex === 4) {
            cellA = parseVolume(cellA);
            cellB = parseVolume(cellB);
        }

        if (!isNaN(cellA) && !isNaN(cellB)) {
            return sortOrder === "asc" ? cellA - cellB : cellB - cellA;
        }
        return sortOrder === "asc"
            ? cellA.localeCompare(cellB)
            : cellB.localeCompare(cellA);
    });

    rows.forEach(row => table.appendChild(row));

    document.querySelectorAll(".sort-btn").forEach((btn, index) => {
        btn.classList.remove("asc", "desc");
        if (index === columnIndex) {
            btn.classList.add(sortOrder);
        }
    });
}

function parseVolume(value) {
    sortTable(0);
    const suffix = value.slice(-1).toUpperCase();
    const numericValue = parseFloat(value.slice(0, -1));

    if (suffix === "K") return numericValue * 1e3;
    if (suffix === "M") return numericValue * 1e6;
    if (suffix === "B") return numericValue * 1e9;
    return numericValue;
}


document.addEventListener("DOMContentLoaded", function() {
    const modalContent = document.querySelector(".modal-content");
    const inputFields = document.querySelectorAll(".input-field");
    
    // Captura a URL atual
    const currentUrl = window.location.pathname;
    
    // Obtém o último segmento da URL
    const lastSegment = currentUrl.split("/").pop();

    // Verifica o valor do último segmento
    if (lastSegment === "bitcoin") {
        modalContent.style.boxShadow = "0 4px 10px var(--main2-color)";
    } else if (lastSegment === "ethereum") {
        modalContent.style.boxShadow = "0 4px 10px rgb(0, 0, 255, 0.5)";
    }
    inputFields.forEach(inputField => {
        if (lastSegment === "bitcoin") {
            inputField.style.backgroundColor = "var(--main3-color)";
        } else if (lastSegment === "ethereum") {
            inputField.style.backgroundColor = "var(--main4-color)";
        }
    });
});

    </script>

</html>