<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sweet_alert/login_sweet_alert.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{{ url_for('static', filename='js/register/list_requirements.js') }}" defer></script>

</head>
<body class="dark-theme">
   
    {% extends "layouts/form.html" %}

    {% set title = "Change Password" %}    
    <!-- Mensagem de erro, se houver -->
    {% if error_message %}
        {% set error = error_message | safe %}    
    {% endif %}

    <!-- Todos os inputs com os labels -->
    {% block form_inputs %}
        <div class="input-group">
            <input class="input-full" autocomplete="off" id="password"  name="password" placeholder="Enter your Password" type="password" value="{{ password if password else '' }}">
            <input class="input-full" autocomplete="off" id="password-confirm" name="ConfirmPass" placeholder="Confirm your password" type="password" value="{{ ConfirmPass if ConfirmPass else '' }}">            

            <ul id="password-requirements" style="display: none;">
                <li>Password must be at least 8 characters long.</li>
                <li>It must contain at least one special character.</li>
                <li>It must include at least one uppercase letter.</li>
            </ul> 

            <input name="SendNewPassword" id="submitButton" class="submit-btn" type="submit" value="New Password">

            {% set num_links = 1 %}
            {% block links_container %}
                <a href='{{ url_for("main_routes.route_method", route_name="Login", method="index") }}' class="link">Login</a>
            {% endblock %}
        </div>
    {% endblock %}
</body> 
</html>
