<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_deposit_confirm.css') }}">
    <title>Deposit confirmation</title>
</head>
<body class="{{ session['theme'] }}">
    {% extends "layouts/form.html" %}

    {% set title = "Deposit confirmation" %}    
    <!-- Mensagem de erro, se houver -->
    {% if error_message %}
        {% set error = error_message %}    
    {% endif %}

    <!-- Todos os inputs com os labels -->
    {% block form_inline %}
        <form class="form" action="/deposit/confirm", method="post">
            <label class="input-label" style="text-align: center;">Você deseja fazer o deposito no valor de {{ currency }} {{ deposited_value }}?</label> 
            <br>
            <input class="submit-btn" type="submit" value="Sim, eu desejo" name="button" id="button">
        </form>
    {% endblock %}
</body>

</html>
