<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_my_deposits.css') }}">
    <script src="{{ url_for('static', filename='js/my_deposits.js') }}" defer></script>

    
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My deposits</title>
</head>
<body class="{{ session['theme'] }}">
    {% include 'layouts/sidebar.html' %}

    <main class="main-balance">
        <div class="balance-content">
            <div class="balance-text">
                <h2 class="main-balance-title">Account balance</h2>
                <h3 class="main-balance-value">
                    <span class="balance-text-mask">$**</span> <!-- Valor oculto (inicial) -->
                    <span class="real-balance">${{ session['balance'] }}</span> <!-- Valor real, oculto inicialmente -->
                </h3>
            </div>
            
            <img class="eye-icon" alt="toggle balance visibility" onclick="toggleBalance()"
            src="{{ url_for('static', filename='images/balance_popup/close_eye_' + session['theme'] + '.png') }}">
        </div>
        <button class="deposit-button" onclick="window.location.href='/deposit/index'">Make a new deposit!</button>
        </main>

    <main class="main-table">
        <table>
            <thead>
                <tr>
                    <th onclick="sortTable(0)">Date <button class="sort-btn desc"></button></th>    
                    <th onclick="sortTable(1)">Deposit ID <button class="sort-btn"></button></th>
                    <th onclick="sortTable(2)">Type <button class="sort-btn"></button></th>
                    <th onclick="sortTable(3)">Amount <button class="sort-btn"></button></th>
                    <th onclick="sortTable(4)">Currency <button class="sort-btn"></button></th>
                    <th onclick="sortTable(5)">Status <button class="sort-btn"></button></th>
                </tr>
            </thead>
            
            <tbody>
                {% for row in data %}
                <tr>
                    <td><b>{{ row[0] }}</b></td>
                    <td><b>{{ row[1] }}</b></td>
                    <td><b>{{ row[2] }}</b></td>
                    <td><b>{{ row[3] }}</b></td>
                    <td><b>{{ row[4] }}</b></td>
                    <td class="{% if row[5] == 'Confirmed' %}status-confirmed{% endif %}">
                        <b>{{ row[5] }}</b>
                    </td>
                </tr>
                {% endfor %}
            </tbody>            

        </table>
    </main>

    <script>
        function toggleBalance() {
            const balanceTextMask = document.querySelector('.balance-text-mask');
            const realBalance = document.querySelector('.real-balance');
            const eyeIcon = document.querySelector('.eye-icon');

            if (realBalance.style.display === "none") {
                // Se o valor real está oculto, mostre o valor e altere o ícone para o olho aberto
                realBalance.style.display = "inline";
                balanceTextMask.style.display = "none";
                eyeIcon.src = "{{ url_for('static', filename='images/balance_popup/open_eye_' + session['theme'] + '.png') }}";
            } else {
                // Se o valor real está visível, mostre a máscara e altere o ícone para o olho fechado
                realBalance.style.display = "none";
                balanceTextMask.style.display = "inline";
                eyeIcon.src = "{{ url_for('static', filename='images/balance_popup/close_eye_' + session['theme'] + '.png') }}";
            }
        }

        document.addEventListener("DOMContentLoaded", toggleBalance);
    </script>
</body>


</html>