<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_my_deposits.css') }}">
    <script src="{{ url_for('static', filename='js/my_deposits.js') }}" defer></script>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My deposits</title>
</head>
<body class="{{ session['theme'] }}">
    {% include 'layouts/sidebar.html' %}

    <main class="main-balance">
        <div class="balance-content">
            <div class="balance-text">
                <h2 class="main-balance-title">Account balance</h2>
                <h3 class="main-balance-value">
                    <span class="balance-text-mask">$**</span> <!-- Valor oculto (inicial) -->
                    <span class="real-balance">${{ '%.2f' % session['balance'] }}</span>
                    <img class="eye-icon" alt="toggle balance visibility" onclick="toggleBalance()"
                    src="{{ url_for('static', filename='images/balance_popup/close_eye_' + session['theme'] + '.png') }}">
                </h3>

                <button class="deposit-button" onclick="window.location.href='/deposit/index'">Make a new deposit!</button>
            </div>
            <div class="wallet-content">
                <h2 class="main-balance-title">Wallet</h2>
    
                <button class="wallet-button">Create Wallet</button>
            </div>
        </div>
    </main>

    <main class="main-table">
        <table>
            <thead>
                <tr>
                    <th onclick="sortTable(0)">Date <button class="sort-btn desc"></button></th>    
                    <th onclick="sortTable(1)">Deposit ID <button class="sort-btn"></button></th>
                    <th onclick="sortTable(2)">Type <button class="sort-btn"></button></th>
                    <th onclick="sortTable(3)">Amount <button class="sort-btn"></button></th>
                    <th onclick="sortTable(4)">Currency <button class="sort-btn"></button></th>
                    <th onclick="sortTable(5)">Status <button class="sort-btn"></button></th>
                </tr>
            </thead>
            
            <tbody>
                {% for row in data %}
                <tr>
                    <td><b>{{ row[0] }}</b></td>
                    <td><b>{{ row[1] }}</b></td>
                    <td><b>{{ row[2] }}</b></td>
                    <td><b>{{ row[3] }}</b></td>
                    <td><b>{{ row[4] }}</b></td>
                    <td class="{% if row[5] == 'Confirmed' %}status-confirmed{% endif %}">
                        <b>{{ row[5] }}</b>
                    </td>
                </tr>
                {% endfor %}
            </tbody>            

        </table>
    </main>

    <!-- Modal -->
    <div id="walletModal" class="modal">
        <div class="modal-content">
            <span id="closeModalBtn" class="close_modal">&times;</span>
            <form method="post" class="content_verify">
                <h2>Create Wallet</h2>
                <div class="container-input">
                    <p>Enter your 4-digit password to create ETH and BTC wallets:</p>
                    <input id="4_digits_password" class="input-field" autocomplete="off" name="4_digits_password"
                    placeholder="4 digits password" type="password" value="" maxlength="4" 
                    pattern="\d{4}">  
                </div>              
                <input type="submit" value="Create Wallet" class="submit-input">
            </form>
            <div id="walletInfo" class="hidden">
                <h3>Wallet Details</h3>
                <div class="wallet-columns">
                    <div class="wallet-column">
                        <h4>ETH Wallet</h4>
                        <p id="ethWalletAddress"></p>
                    </div>
                    <div class="wallet-column">
                        <h4>BTC Wallet</h4>
                        <p id="btcWalletAddress"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        function toggleBalance() {
            const balanceTextMask = document.querySelector('.balance-text-mask');
            const realBalance = document.querySelector('.real-balance');
            const eyeIcon = document.querySelector('.eye-icon');

            if (realBalance.style.display === "none") {
                // Se o valor real está oculto, mostre o valor e altere o ícone para o olho aberto
                realBalance.style.display = "inline";
                balanceTextMask.style.display = "none";
                eyeIcon.src = "{{ url_for('static', filename='images/balance_popup/open_eye_' + session['theme'] + '.png') }}";
            } else {
                // Se o valor real está visível, mostre a máscara e altere o ícone para o olho fechado
                realBalance.style.display = "none";
                balanceTextMask.style.display = "inline";
                eyeIcon.src = "{{ url_for('static', filename='images/balance_popup/close_eye_' + session['theme'] + '.png') }}";
            }
        }

        document.addEventListener("DOMContentLoaded", () => {
            const button = document.querySelector(".wallet-button");
            const modal = document.getElementById("walletModal");
            const closeModalBtn = document.getElementById("closeModalBtn");
        
            // Abrir modal
            button.addEventListener("click", () => {
                modal.style.display = "flex";
            });
        
            // Fechar modal ao clicar no botão de fechar
            closeModalBtn.addEventListener("click", () => {
                modal.style.display = "none";
            });
        
            // Fechar modal ao clicar fora do conteúdo do modal
            window.addEventListener("click", (event) => {
                if (event.target === modal) {
                    modal.style.display = "none";
                }
            });
        });   

        document.addEventListener("DOMContentLoaded", toggleBalance);
    </script>
</body>


</html>
