<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Recover Password</title>
        <link rel="icon" href="{{ url_for('static', filename='images/sidebar/logo.png') }}" type="image/png">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/recover_password.css') }}">
    </head>
    <body class="dark-theme">
        {% set width = 470 %}
        
        {% extends "layouts/form.html" %}

        {% set title = "Recover password" %}    

        <!-- Mensagem de erro, se houver -->
        {% if error_message %}
            {% set error = error_message %}    
        {% endif %}

        {% block form_inline %}
        <form action="" method="post" name="form_recover_password" class="form">
            <input autocomplete="off" autofocus class="input-field" type="email" name="email" placeholder="Enter your email">

            <input class="submit-btn" name="SendRecover" type="submit" value="Send">
        </form>
        {% endblock %}
        
        {% set num_links = 1 %}
        {% block links_container %}
            <a href='{{ url_for("main_routes.route_method", route_name="Login", method="index") }}' class="link">Login</a>
        {% endblock %}
    </body>
</html>
