.no-background {
    background: transparent !important;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    padding: 20px;
    border: 1px solid var(--background-color);
    width: 80%;
    max-width: 600px; 
    border-radius: 10px; 
    box-sizing: border-box; 
    padding-bottom: 10vh;
}

/* Container para o input e o símbolo de dólar */
.input-container {
    position: relative;
    display: flex;
    align-items: center;
}

/* O símbolo de dólar fixo */
.currency-symbol {
    position: absolute;
    left: 10px; 
    top: 10px;
    font-size: 20px;
    color: #333; /* Cor do símbolo de dólar */
    pointer-events: none; /* Não permite interação com o símbolo */
}

/* Estilo do input para deixar espaço à esquerda para o símbolo */
.input-container .input-field {
    padding-left: 23px; /* Espaço suficiente para o símbolo de dólar */
}



#icon{
    width: 15vh; 
    height: 15vh;
}

.modal-title{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    color: var(--secondary-color);
}
.close {
    color: var(--alt2-color);
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 97%;
}

.close:hover,
.close:focus {
    color: var(--main1-color);
    text-decoration: none;
    cursor: pointer;
}

form{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.estimated-value, .currency-symbol{
    color: var(--secondary-color);
}
/* Remover fundo as setinhas do input number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none; /* Remove o estilo do navegador */
    margin: 0; 
}

input[type="number"] {
    -moz-appearance: textfield; /* Remove a aparência padrão das setinhas no Firefox */
}

/* Para garantir que a cor da setinha seja aplicada também no Firefox */
input[type="number"]::-ms-clear {
    display: none; /* Remove a setinha do IE/Edge */
}

.error-message {
    font-size: 16px;
    color: var(--main2-color);
    background-color: var(--main3-color);
    padding: 10px;
    padding-left: 11.2vh;
    padding-right:  11.2vh;
    border-radius: 6px;
    margin-bottom: 2px;
    margin-top: 10px;
    font-weight: bold;
}

.input-label{
    color: var(--secondary-color);
    margin-bottom: 10px;
    font-size: 18px;
    text-align: left;
}

/* Estilo para os campos de entrada */
.input-field{
    margin-bottom: 10px;
    padding: 13px;
    border: none;
    border-radius: 15px;
    background-color: var(--alt2-color);
    color: var(--secondary-color);
    font-size: 16px;
    transition: all 0.3s ease;
    width: 50vh;
}

.input-field::placeholder {
    color: var(--secondary-color);
}

/* Quando o campo está em foco */
.input-field:focus {
    outline: none;
    border: 2px solid var(--main2-color);
    background-color: var(--primary-color);
}

.input-field::placeholder {
    opacity: 1;  
}

/* Estilo para o botão de enviar */
.submit-btn {
    margin-top: 10px;
    padding: 14px;
    border: none;
    border-radius: 20px;
    background: var(--main2-color);
    color: var(--alt1-color);
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    position: relative;
    width: 100%;
}

/* Efeito de hover para o botão */
.submit-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
    animation: pulse 1.5s ease-in-out;
}

/* Efeito de clique (pressionado) */
.submit-btn:active {
    transform: scale(0.95);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Animação de pulsação */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
