

select{
    padding: 15px;
    border-radius: 20px;
    outline: none; 
    border: 0px;
    color: var(--alt2-color);
    background-color: var(--primary-color);
    font-size: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

select{
    appearance: none; 
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij48cGF0aCBkPSJNMTMuNjQgNS4wN2EuNDEuNDEgMCAwIDAtLjI5LS4wN2guNzZsLjAxLS4wMS0uMDAuMDAuMDAuMDFoLjAyYS40MS40MSAwIDAgMC0uMTMtLjI5SDEzLjg0bC01LjMgNS4zYy4xNC4xNC4xNC4zNyAwIC41TDEuMyA1LjI4Yy0uMTQtLjE0LS4zNy0uMTQtLjUtLjAwMDIuMDE0LjAxNC4zNy4wMTUuNS4wMDBsNS4zIDUuMzRhLjQxLjQxIDAgMCAwIC42NS0uMjlsLTUuMy01LjMtLjAxLS4wMS0uMDAuMDFoLS4wMWEuNDEuNDEgMCAwIDAtLjE0LjI5eiIgZmlsbD0iIzFCMjYzQiIgLz48L3N2Zz4='); 
    background-repeat: no-repeat;
    background-position: right 15px center; 
    background-size: 12px;
}


@media (max-width: 1024px) {
    input {
        font-size: 18px !important;
    }
}
