/* Reset básico para remover margens e preenchimento padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000; /* Fundo preto */
    color: #fff; /* Texto branco */
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa a altura total da tela */
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 800px; /* Limita a largura máxima */
    padding: 20px;
}

.icon {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon img {
    max-width: 150px; /* Ajuste o tamanho conforme necessário */
}

.error-message {
    flex: 2;
}

.error-message h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.error-message p {
    font-size: 1.25rem;
}
