/* Estilo do botão hambúrguer */
.menu-toggle {
    display: none;
    width: 30px;
    height: 30px;
    background-color: transparent; 
    border: none;
    cursor: pointer;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1001; 
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Ícone de hambúrguer */
.menu-toggle::before {
    content: "\2630"; 
    font-size: 24px;
    color: #FFF;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Estilos da Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh; 
    width: 55px; 
    background-color: #111312;
    transition: width 0.3s ease, opacity 0.3s ease;
    overflow-y: auto; 
    overflow-x: hidden;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 10px; 
    opacity: 1; 
}

.sidebar:hover{
    width: 250px;
}
/* Expansão da sidebar */
.sidebar.expanded {
    width: 250px; 
    opacity: 1; 
}

/* Animações de expansão e contração */
.sidebar.expand-animation {
    animation: expandAnimation 0.3s forwards; 
}

.sidebar.contract-animation {
    animation: contractAnimation 0.3s forwards; 
}

@keyframes expandAnimation {
    from {
        width: 55px; 
        opacity: 0; 
    }
    to {
        width: 250px; 
        opacity: 1; 
    }
}

@keyframes contractAnimation {
    from {
        width: 250px; 
        opacity: 1; 
    }
    to {
        width: 55px; 
        opacity: 0; 
    }
}

/* Estilo dos itens da sidebar */
.sidebar .menu-item {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 16px;
    color: #FFFFFF;
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
}


.notification-badge {
    position: absolute;
    top: 0.3rem; /* Ajuste conforme necessário */
    right: 0.4rem; /* Ajuste conforme necessário */
    background-color: var(--main2-color); /* Cor de fundo do badge */
    color: white; /* Cor do texto do badge */
    border-radius: 50%;
    padding: 0.1em 0.3em;
    font-size: 0.6em; /* Ajuste o tamanho da fonte conforme necessário */
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    z-index: 222;
}

.sidebar:hover .notification-badge {
    top: 12%; /* Ajuste conforme necessário */
    right: 81%; /* Ajuste conforme necessário */
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
}

.sidebar .menu-item:hover .notification-badge{
    right: 79%; /* Ajuste conforme necessário */
    transition: right 0.3s ease; /* Transição aplicada só no menu-item */
}

.sidebar:hover .notification-badge {
    right: 81%; /* Ajuste conforme necessário */
    transition: right 0.3s ease; /* Transição aplicada só no menu-item */
}

/* Efeito de hover nos itens da sidebar */
.sidebar .menu-item:hover {
    background-color: #FF6F3C;
    color: #FFFFFF;
    padding-left: 20px; 
    padding-right: 20px;
}

.sidebar .menu-item .icon {
    margin-right: 15px;
    font-size: 20px;
    transition: margin-right 0.3s ease-in-out;
}

.sidebar:hover .menu-item .icon {
    margin-right: 10px;
}

.sidebar .menu-item .text {
    display: none;
    margin-right: auto;
}

.sidebar:hover .menu-item .text {
    display: inline;
}

.sidebar.expanded .menu-item::after {
    content: "▼";
    display: block;
    position: absolute;
    right: 15px;
    transition: transform 0.3s ease-in-out;
}

.sidebar .menu-item::after {
    content: "▼";
    display: none;
    position: absolute;
    right: 15px;
    transition: transform 0.3s ease-in-out;
}

.sidebar #conta::after {
    content: ""; 
}
.sidebar #notificacao::after {
    content: "";
}

.sidebar:hover .menu-item::after {
    display: block;
}

.sidebar .menu-item:hover::after {
    transform: rotate(180deg); 
}

hr {
    width: 80%; 
    border-color: #495057;
    border-width: 1px;
    transition: opacity 0.3s;
}

.sidebar:hover hr {
    opacity: 0;
}

#logo {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: #111312;
}

#img_logo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

#img_logo:hover {
    transform: scale(1.15); 
}

.sidebar.expanded #img_logo, .sidebar:hover #img_logo {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}

#icons {
    width: 22px; 
    height: 22px;
    margin-right: 15px; 
    vertical-align: middle;
    color: #F8F9FA;
}

/* Estilo específico para o perfil na parte inferior */
#perfil {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
    background-color: #111312;
    transition: width 0.3s;
    color: #F8F9FA;
}

#perfil_foto {
    display: none;
    max-width: 50%; 
    max-height: 50%;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 2vh;
}

.tooltip {
    visibility: hidden; 
    width: 160px; 
    background-color: transparent; 
    color: #FFFFFF; 
    border-radius: 5px; 
    padding: 5px; 
    position: absolute; 
    margin-left: -80px; 
    transition: opacity 0.3s; 
    z-index: 1; 
}
#perfil .tooltip{
    text-align: center; 
    bottom: 95%;
    left: 50%; 
}
#logo .tooltip{
    left: 100%; 
    bottom: 88.5%;
}

#perfil:hover .tooltip, #logo:hover .tooltip{
    visibility: visible;
    opacity: 1;
    transition-duration: 1s;
}

.sidebar:hover #perfil_foto {
    display: block;
}

#perfil .text {
    display: none;
}

.sidebar:hover #perfil .text {
    display: block;
}

.sidebar.expanded #perfil_foto {
    display: block; 
    max-width: 60%; 
    max-height: 60%;
    border-radius: 50%;
    cursor: pointer;
}

/* Dropdown */
.submenu {
    display: none; 
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
}

.sidebar.expanded .submenu {
    display: block; 
}

.sidebar.expanded .menu-item .text {
    display: inline; 
}

.sub_menu-item {
    margin-top: 5px;
    cursor: pointer;
    margin-left: 3vh;
    margin-right: 3vh;
    padding: 10px 15px;
    color: #FFFFFF;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.sub_menu-item:hover {
    background-color: #FF6F3C;
}
