/* temas */
:root{
    --alt1-color:#f8f9fabf;
    --alt2-color:#888888;

    --main1-color: #1B263B;
    --main2-color: #ff6f3c;
    --main3-color: #FFD1C1;
}


.light-theme {
    --background-color: #495057;
    --primary-color:  #f8f9fa;
    --secondary-color: #24292e;  
}

.dark-theme {
    --background-color:#24292e;
    --primary-color:#495057;
    --secondary-color: #f8f9fa; 
}


/* Reset e configuração geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Roboto', sans-serif;
}   

html, body {
    background-color: var(--secondary-color);
    height: 100%;
    width: 100%;
}
