<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_account.css') }}">
    {% include 'layouts/layout.html' %}
    {% include 'layouts/sidebar.html' %}
</head>
<body>
    <div class="alter-phone-block">
        <h2>Alterar Telefone</h2>
        <img src="{{ url_for('static', filename='images/account/phone.png') }}" class="icones">
        <button id="alter-phone">Alterar</button>
    </div>
    <div class="alter-email-block">
        <h2>Alterar Email</h2>
        <img src="{{ url_for('static', filename='images/account/email.png') }}"  class="icones">
        <button id="alter-email">Alterar</button>
    </div>
    <div class="alter-password-block">
        <h2>Alterar Senha</h2>
        <img src="{{ url_for('static', filename='images/account/password.png') }}" class="icones">
        <button id="alter-password">Alterar</button>

    </div>

    <script>
        //redireciona pra pagina onde vai ser alterado o telefone
        document.getElementById("alter-phone").addEventListener('click', function(){
            window.location.href = '/account/phone';
        })
        //redireciona pra pagina onde vai ser alterado o email
        document.getElementById("alter-email").addEventListener('click', function(){
            window.location.href = '/account/email';
        })
        //redireciona pra pagina onde vai ser alterado a senha
        document.getElementById("alter-password").addEventListener('click', function(){
            window.location.href = '/account/password'
        })
    </script>
</body>
</html>