<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erro</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_error.css') }}">
</head>
<body>
    <div class="container">
        <div class="icon">
            <img src="{{ url_for('static', filename='images/error/boneco.jpeg') }}" alt="Boneco com tomada retirada">
        </div>
        <div class="error-message">
            <h1>Ocorreu um Erro</h1>
            <p>{{ error }}</p>
        </div>
    </div>
</body>
</html>