<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
    </head>
    <body>
        <form action="" method="post">
            <input autocomplete="off" autofocus name="User" placeholder="Digite seu Email ou seu Nome" type="text">
            <input autocomplete="off" autofocus name="Pass" placeholder="Digite sua Senha" type="password">
            <input name="SendLogin" type="submit" value="Acessar">
        </form>
    </body>
</html>
