
<!-- Modal -->
{% include 'layouts/layout.html' %}

<div id="carouselModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>

        <!-- Conteúdo do Carrossel -->
        <div class="carousel-slide {% if msg != 'Senha inválida, digite apenas valores numéricos de 0-9' %}active{% endif %}">
            <div class="welcome-slide">
                <h2 class="modal-title">Welcome</h2>
                <h3 class="modal-subtitle">To our Webiste</h3>
                <h4 class="modal-text">Before we get started, how about learn<br>a bit about our service?</h4>
                <button id="start-button" onclick="changeSlide(1)">Let's Start</button>
            </div>
            <div class="welcome-img">
                <img src="{{ url_for('static', filename='images/modal/welcome.png') }}" id="welcome-img">
            </div>
        </div> 
        <div class="carousel-slide" id="information-slide">
            <div class="information-img">
                <img src="{{ url_for('static', filename='images/modal/services_img.png') }}" id="services_img">
            </div>
            <div class="information-content">
                <h3 class="modal-subtitle">Our services</h3>
                <p class="modal-text">
                    This website aims to make your investments in crypto assets easier by providing 
                    updated dashboards with the last 6 months of currency data and various other information
                    for your analysis. We also offer an innovative system for trading crypto assets with
                    other users. We ensure the security of your data while using our service. If you have 
                    any questions, please check the FAQ page, where we answer the most common inquiries.
                </p>
                <button id="information-button"onclick="changeSlide(1)">Next</button>
            </div>
            
        </div>
        <div class="carousel-slide {% if msg == 'Senha inválida, digite apenas valores numéricos de 0-9' %}active{% endif %}" id="password-slide">
            <div class="password-content">
                <h2 class="modal-subtitle">For your security</h2>
                <p class="modal-text">
                Create a secure 4-digit numeric password to ensure the safety and integrity of your account when 
                performing critical actions such as trading, buying, and selling crypto assets.
                We strongly recommend choosing a unique combination of numbers that avoids using identical 
                or sequential digits, as this enhances the security of your password. By taking this step, 
                you'll be better protected against unauthorized access, ensuring that your experience on our 
                platform is both secure and seamless.
                </p>
                <form id="four-digits-form" method="post" action="/dashboard/index" name="four-digits-form">
                    <div class="pin-container">
                        <input type="text" maxlength="1" autocomplete="off" class="pin-input" id="digit-1" name="digit-1" oninput="moveToNext(this, 'digit-2')" />
                        <input type="text" maxlength="1" autocomplete="off" class="pin-input" id="digit-2" name="digit-2" oninput="moveToNext(this, 'digit-3')" />
                        <input type="text" maxlength="1" autocomplete="off" class="pin-input" id="digit-3" name="digit-3" oninput="moveToNext(this, 'digit-4')" />
                        <input type="text" maxlength="1" autocomplete="off" class="pin-input" id="digit-4" name="digit-4" oninput="moveToNext(this, null)" />
                    </div>
                    <input type="submit" name="submit_4_digits_form" id="submit_button" value="Send">  
                </form>
                <br>
                {% if msg != digits %}
                    <p class="modal-text">{{ msg }}</p>
                {% endif %}
            </div>
            <div class="password-img">
                <img src="{{ url_for('static', filename='images/modal/security_img.png') }}" id="password-img">
            </div>
        </div>

    </div>
</div>

<script src="{{ url_for('static', filename='js/modal_welcome.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_modal_welcome.css') }}">
