
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Leia este código para confirmar o depósito</h2>
        <div class="qr-code">
            <img src="{{ qr_code }}" alt="QR Code" id="qr-code-img">
        </div>
        
    </div>
</div>


<script src="{{ url_for('static', filename='../static/js/modal_confirmation.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='../static/css/style_modal_confirmation.css') }}">

