<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recover Password</title>
    <link rel="icon" href="{{ url_for('static', filename='images/sidebar/logo.png') }}" type="image/png">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/recover_password.css') }}">
</head>
<body>
    <div class="recover-background-blur"></div>
    <div class="recover-container">
        <h3>Recover Password</h3>

        {% if error_message %}
        <div class="recover-error-message">
            {{ error_message }}
        </div>
        {% endif %}

        <form action="" method="post">
            <input type="email" autocomplete="off" autofocus name="email" placeholder="Digite seu email">

            <input class="recover-btn" name="SendRecover" type="submit" value="Send">
        </form>

        <hr>
        <div class="recover-links-container">
            <a href='{{ url_for("main_routes.route_method", route_name="Login", method="index") }}'>Pagina Login</a>
        </div>
    </div>
</body>
</html>
