<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="icon" href="{{ url_for('static', filename='images/sidebar/logo.png') }}" type="image/png">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">

    <body>
        <div class="background-blur"></div>
        <div class="register-container">
            <h3>Register</h3>

            {% if error_message %}
            <div class="error-message">
                {{ error_message }}
            </div>
            {% endif %}

            <form action="" method="post"> 
                <!-- Mensagem de erro, se houver -->

                <div class="input-group">
                    <input class="input-full" autocomplete="off" autofocus name="name" placeholder="Digite seu Nome" type="text" value="{{ name if name else '' }}">
                    <input class="input-full" autocomplete="off" autofocus name="email" placeholder="Digite seu Email" type="email" value="{{ email if email else '' }}">
                    <div class="input-row">
                        <input class="input-half" autocomplete="off" name="cpf" placeholder="000.000.000-00" type="text" maxlength="14" value="{{ cpf if cpf else '' }}">
                        <input class="input-half" autocomplete="off" name="phone" placeholder="(00) 0000-0000" type="text" maxlength="15" value="{{ phone if phone else '' }}">
                    </div>
                    <div class="input-row">
                        <input class="input-half" autocomplete="off" name="password" placeholder="Digite sua Senha" type="password" value="{{ password if password else '' }}">
                        <input class="input-half" autocomplete="off" name="ConfirmPass" placeholder="Confirme sua Senha" type="password" value="{{ ConfirmPass if ConfirmPass else '' }}">
                    </div>
                </div>
                <input class="submit-btn" name="SendRegister" type="submit" value="Cadastrar-se">
            </form>

            <hr>
            <div class="links-container">
                <a href='{{ url_for("main_routes.route_method", route_name="Login", method="index") }}'>Já possui uma conta?</a>
            </div>
        </div>
    </body>
    </html>