<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_footer.css') }}">

<footer>
    <div class="footer-content">
        <p>&copy; 2024 AF Company. Todos os direitos reservados.</p><br>
        <ul class="footer-links">
            <li><a href="/sobre">Sobre</a></li>
            <li><a href="/contato">Contato</a></li>
            <li><a href="/privacidade">Política de Privacidade</a></li>
            <li><a href="/termos">Termos de Serviço</a></li>
            <li><a href="/faq">FAQ</a></li>
        </ul>
    </div>
</footer>
