<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_sidebar.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/responsiveness/re_sidebar.css') }}">

<script src="{{ url_for('static', filename='js/script_sidebar.js') }}" defer></script>
{% include 'layouts/layout.html' %}
<button class="menu-toggle" id="menu-toggle"></button>

<div id="sidebar" class="sidebar">
    <header id="logo">
        <img src="{{ url_for('static', filename='images/sidebar/logo.png') }}" id="img_logo" style="cursor: pointer;">
        <span class="tooltip">Home</span>
    </header> 
    <hr>  
    <div class="menu-item" id="carteira">
        <img src="{{ url_for('static', filename='images/sidebar/icons/carteira.png') }}" id="icons">
        <span class="text">Wallet</span>
    </div>
    <div class="submenu" id="carteira-submenu">
        <div class="sub_menu-item" id="comprar">
            <span class="text">Buy</span>
        </div>  
        <div class="sub_menu-item" id="gerenciar">
            <span class="text">Manage</span>
        </div>
        <div class="sub_menu-item" id="trocar">
            <span class="text">Exchange</span>
        </div>
    </div>
    <hr>
    <div class="menu-item" id="depositar">
        <img src="{{ url_for('static', filename='images/sidebar/icons/depositar.png') }}" id="icons">
        <span class="text">Deposit</span>
    </div>
    <div class="submenu" id="depositar-submenu">
        <div class="sub_menu-item" id="depositar-opcao">
            <span class="text">Deposit</span>
        </div>
        <div class="sub_menu-item" id="meus-depositos">
            <span class="text">My Deposits</span>
        </div>
    </div>
    <hr>
    <div class="menu-item" id="conta">
        <img src="{{ url_for('static', filename='images/sidebar/icons/config.png') }}" id="icons">
        <span class="text">Account</span>
    </div>
   
    <hr>
    <div class="menu-item" id="notificacao">
        <img src="{{ url_for('static', filename='images/sidebar/icons/notificacoes.png') }}" id="icons">
        <span class="text">Notifications</span>
        <span class="notification-badge">{{ count_notifications }}</span> <!-- Badge de notificações -->
    </div>
    <hr>
    <div id="perfil">
        {% if session.profile_img %}
            <img src="{{ url_for('static', filename='images/users/' + session.profile_img) }}" id="perfil_foto" alt="Profile Image">
        {% else %}
            <img src="{{ url_for('static', filename='images/sidebar/perfil_foto.png') }}" id="perfil_foto" alt="Profile Image">
        {% endif %}
        <span class="text">Profile</span>
        <span class="tooltip">Change Profile Picture</span>
    </div>
</div>
